<!DOCTYPE html>
<html>
<head>
<style>
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.image-caption {
  font-size: x-small;
  font-style: italic;
}
</style>
</head>
<body>

<h2><span style="font-size:large"><em><strong>Risk</strong></em></span></h2>

<p>Puedes proseguir leyendo este informe con texto dummy</p>

<div class="row">
  <div class="column">
    <img src="{{imagen1}}">
    <p><span class="image-caption">Fig 5 Position</span></p>
  </div>
  <div class="column">
    <img src="{{imagen2}}">
    <p><span class="image-caption">Fig 6 Tracking Error</span></p>
  </div>
</div>

</body>
</html>